@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    font-family: Poppins;
    text-align: left;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    background-color: #464646;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(78, 78, 78, 0.877);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #df63d2af;
}
.active {
    background-color: #e92fd6af;
  }

.up {
    margin-left: 10%;
}
a {
    text-decoration: none;
    color: white;
}

.bg {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #e92fd6;
    border-bottom-right-radius: 40%;
}

.nav .icon {
    background: url("favicon.ico");
    height: 20px;
    width: 20px;
    display: block;
}

.mid {
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.lighter1 {
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 5%;
    background-color: rgba(87, 85, 85, 0.507);
}

.up h1 {
    margin-left: -1%;
    font-weight: bolder;
    font-size: 350%;
}